# Environnements virtuels
venv/
env/
__pycache__/
*.py[cod]

# Configuration de l'IDE
.vscode/
.idea/

# Fichiers de logs
*.log
*.log.*

# Fichiers de configuration local
instance/
.env
*.env

# Dépendances installées
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Compilations C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
MANIFEST

# Suppressions de sécurité (ex. clés privées)
*.pem
*.key
*.crt

# Caches
.cache/
*.bak

# Système d'exploitation
.DS_Store
Thumbs.db
